@model bitirmeSonProje.Models.Duyuru

@{
    ViewData["Title"] = "DuyuruEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>DUYURU EKLE</strong>
            </div>
            <div class="card-body card-block">
                <form asp-controller="Admin" asp-action="DuyuruEkle" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <label><strong>DUYURU ADI</strong></label>
                    @Html.EditorFor(model => model.DuyuruAdi, new { htmlAttributes = new { @class = "form-control input-medium", @required="true"}})
                    <br />

                    <br />
                    <label><strong>AÇIKLAMA</strong></label>
                    @Html.EditorFor(model => model.Aciklama, new { htmlAttributes = new { @class = "form-control input-medium" ,  @required="true"}})
@*                    <label><strong>DUYURU ID</strong></label>
                    <input type="text" class="form-control" name="Id" /><br />*@
                    <br />
                    <br />
                    <label><strong>RESMİ</strong></label><br />

                    <input type="file" name="ResimYolu" asp-for="ResimYolu"  class="form-control" />
                    <br />
                    <br />
                    <label><strong>KİŞİ ID</strong></label><br />
                    <select class="select2 kisiId form-control form-control-lg" required name="KisiId" asp-for="KisiId" asp-items="@ViewBag.Kisiler">
                        <option value="">Kişi Seçiniz</option>
                    </select>
                    <br />
                    <button class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i>DUYURU EKLE
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>